---
import CollaborationStatus from './components/CollaborationStatus.astro';
import HamburgerMenu from './components/HamburgerMenu.astro';
import LanguageSwitcher from './components/LanguageSwitcher.astro';
import ScrollProgress from './components/ScrollProgress.astro';
import ScrollSpyNavigation from './components/ScrollSpyNavigation';
import TextLogo from './components/TextLogo.astro';
import ThemeToggler from './components/ThemeToggler.astro';
import ViewCvLink from './components/ViewCvLink.astro';
---

<div
  class="pointer-events-none fixed inset-6 z-10 grid grid-flow-col sm:inset-10 [&>div>*]:pointer-events-auto [&>div>*]:select-none"
>
  <div class="grid content-between justify-items-start">
    <TextLogo />
    <ScrollSpyNavigation />
    <div class="grid gap-4">
      <LanguageSwitcher />
      <ThemeToggler />
    </div>
  </div>
  <div class="grid content-between justify-items-end">
    <div class="flex gap-x-3 sm:gap-x-6">
      <CollaborationStatus />
      <HamburgerMenu />
    </div>
    <ScrollProgress />
    <ViewCvLink />
  </div>
</div>
