html {
  scroll-behavior: smooth;
  background-color: #1bb010;

  --background-color-1: #fff;
  --background-color-2: #ddd;
}

html.dark {
  background-color: #c11717;
  --background-color-1: #111;
  --background-color-2: #222;
}
