@theme {
  /* stylelint-disable-next-line custom-property-pattern */
  --color-*: initial;
  --color-gray-100: #fafafa;
  --color-gray-200: #dadada;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #909090;
  --color-gray-500: #7a7a7a;
  --color-gray-600: #5e5e5e;
  --color-gray-700: #4c4c4c;
  --color-gray-800: #2f2f2f;
  --color-gray-900: #202020;
  --color-gray-950: #141414;
  --font-serif: initial;
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --animate-fade-in-scale: fade-in-scale 1s cubic-bezier(0.645, 0.045, 0.355, 1)
    forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
