html {
  --background-1: var(--gray-100);
  --background-2: var(--gray-400);
  --background-3: var(--gray-700);
  --text-1: var(--gray-950);
  --text-2: var(--gray-600);
  --text-3: var(--gray-300);
  --icon-default: var(--gray-950);
  --icon-hover: var(--gray-950);
  --icon-press: var(--gray-950);
  --scroll-progress-active: var(--gray-950);
  --scroll-progress-inactive: var(--gray-300);
  --grid-overlay-color: var(--gray-300);
}

html.dark {
  --background-1: var(--gray-950);
  --background-2: var(--gray-700);
  --background-3: var(--gray-400);
  --text-1: var(--gray-100);
  --text-2: var(--gray-400);
  --text-3: var(--gray-600);
  --icon-default: var(--gray-100);
  --icon-hover: var(--gray-100);
  --icon-press: var(--gray-100);
  --scroll-progress-active: var(--gray-100);
  --scroll-progress-inactive: var(--gray-600);
  --grid-overlay-color: var(--gray-600);
}
