---
import DownloadButton from '../components/DownloadButton.astro';
import ThemeToggler from '../components/ThemeToggler.astro';
import Layout from '../layouts/Layout.astro';
import ScrollSpyNavigation from '../components/ScrollSpyNavigation.astro';
import ScrollSpy from '../components/ScrollSpy.astro';
import '../styles/global.css';
import { pageSections } from '../lib/consts';
---

<Layout>
  <div>
    <ThemeToggler />
    <DownloadButton fileName="CV-pl.pdf" />
    <DownloadButton fileName="CV-en.pdf" />
    <ScrollSpyNavigation />
  </div>
    <ScrollSpy />
  <main>
    {pageSections.map(({ id, label }) => <section id={id}>{label}</section>)}
  </main>
</Layout>

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;

  }

  section {
    min-height: 100vh;
    /* padding: 4rem 2rem; */
    /* scroll-margin-top: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: var(--background-color-1);
  }
</style>
