---
import Layout from '@layouts/Layout.astro';
import DownloadButton from '@components/DownloadButton.astro';
import ThemeToggler from '@components/ThemeToggler.astro';
import ScrollSpyNavigation from '@components/ScrollSpyNavigation.astro';
import ScrollProgress from '@components/ScrollProgress.astro';
import GridOverlayLayout from '@components/GridOverlayLayout';
import { pageSections } from '@lib/consts';
---

<Layout>
  <div>
    <ThemeToggler />
    <DownloadButton fileName="CV-pl.pdf" />
    <DownloadButton fileName="CV-en.pdf" />
    <ScrollSpyNavigation />
  </div>
  <ScrollProgress />
  <GridOverlayLayout>
    {pageSections.map(({ id, label }) => <section id={id}>{label}</section>)}
  </GridOverlayLayout>
</Layout>

<style>
  div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  section {
    grid-column: span 6;
    min-height: 100vh;
    font-size: 3rem;
  }
</style>
