---
type Props = {
  fileName: string;
};

const { fileName } = Astro.props;
---

<a href={`/files/${fileName}`} download>Pobierz CV</a>

<style>
  a {
    color: purple;
  }

  :global(.dark) a {
    color: pink;
  }
</style>
