<div class="track" aria-hidden="true">
  <div class="progress"></div>
</div>

<style>
  .track {
    position: fixed;
    top: 50%;
    right: 2rem;
    width: 1px;
    height: 50vh;
    background: var(--scroll-progress-inactive);
    translate: 0 -50%;
  }

  .progress {
    height: 100%;
    background: var(--scroll-progress-active);
  }
</style>

<script>
  const progress = document.querySelector<HTMLDivElement>('.progress');

  function updateScroll() {
    const maxScroll = document.body.scrollHeight - window.innerHeight;
    const progressRatio = Math.min(Math.max(window.scrollY / maxScroll, 0), 1);

    if (progress) {
      progress.style.transform = `scaleY(${progressRatio})`;
    }
  }

  updateScroll();
  addEventListener('scroll', () => requestAnimationFrame(updateScroll), {
    passive: true,
  });
</script>
