---
import { Font } from 'astro:assets';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/global.css';
import '../styles/theme.css';
import '../styles/variables.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Font cssVariable="--font-geist-mono" preload />
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <slot />
  </body>
</html>
