---
import GridOverlayLayout from '@/components/GridOverlayLayout';
import RootLayout from './RootLayout.astro';
---

<RootLayout>
  <GridOverlayLayout>
    <slot />
  </GridOverlayLayout>
  <div id="language-toast-container"></div>
</RootLayout>

<script>
  import { getTranslation } from '@/i18n/utils';
  import { checkPreferredLanguage } from '@/lib/checkPreferredLanguage';

  const currentLocale = document.documentElement.lang;
  const preferredLanguage = checkPreferredLanguage(currentLocale);

  if (preferredLanguage) {
    const translation = getTranslation(preferredLanguage);
    const toastContainer = document.getElementById('language-toast-container');

    if (toastContainer) {
      toastContainer.innerHTML = translation.navigation.home;
    }
  }
</script>
