---
import { Font } from 'astro:assets';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '@/styles/global.css';
---

<!doctype html>
<html lang={Astro.currentLocale} class="bg-1 text-1 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <Analytics />
    <SpeedInsights />
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />
  </head>
  <body>
    <slot />
  </body>
</html>
