---
import Layout from '../../layouts/Layout.astro';
import GridOverlay from '../../components/Grid6/Overlay.astro';
---

<Layout>
  <span>ease-in-out 0.2</span>
  <GridOverlay cubicBezier="0.42, 0, 0.58, 1"  delayStep={0.2} />
  <style>
    span {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 10;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      font-family: monospace;
    }
  </style>
</Layout>
