---
import { getTranslation } from '@/i18n';

const { collaborationStatus } = await getTranslation(Astro.currentLocale);
---

<span
  class="sm:text-md flex shrink-0 items-center gap-x-3 font-mono text-xs xl:text-base 2xl:gap-x-4.5 2xl:text-lg"
>
  <span
    aria-hidden="true"
    class="bg-brand-1 grid aspect-square w-2 place-items-center rounded-full after:absolute after:aspect-square after:w-3 after:animate-ping after:rounded-full after:bg-inherit 2xl:w-3 2xl:after:w-4"
  ></span>
  {collaborationStatus}
</span>
