---
import { getTranslation } from '@/i18n';

const { openToCollaboration } = await getTranslation(Astro.currentLocale);
---

<span
  class="relative flex items-center gap-x-3 font-mono text-[10px] before:aspect-square before:w-2 before:rounded-full before:bg-orange-400 after:absolute after:-left-0.5 after:aspect-square after:w-3 after:animate-ping after:rounded-full after:bg-orange-400 sm:text-sm dark:before:bg-orange-300 dark:after:bg-orange-300"
>
  {openToCollaboration}
</span>
