---
import MoonIcon from '@/assets/icons/moon.svg';
import SunIcon from '@/assets/icons/sun.svg';
import { getTranslation } from '@/i18n';

const { switchTheme } = await getTranslation(Astro.currentLocale);
---

<button
  id="theme-toggle"
  type="button"
  class="relative"
  aria-label={switchTheme}
>
  <SunIcon
    class="transition-icon absolute z-1 dark:-z-1 dark:scale-75 dark:rotate-90 dark:opacity-0"
  />
  <MoonIcon
    class="transition-icon not-dark:scale-75 not-dark:-rotate-90 not-dark:opacity-0"
  />
</button>

<script is:inline>
  const LIGHT_THEME = 'light';
  const DARK_THEME = 'dark';
  const THEME_KEY = 'theme';

  const theme =
    localStorage.getItem(THEME_KEY) ||
    (matchMedia('(prefers-color-scheme: dark)').matches
      ? DARK_THEME
      : LIGHT_THEME);

  const setTheme = theme => {
    document.documentElement.classList.toggle(DARK_THEME, theme === DARK_THEME);
    localStorage.setItem(THEME_KEY, theme);
  };

  setTheme(theme);
  document
    ?.getElementById('theme-toggle')
    ?.addEventListener('click', () =>
      setTheme(
        document.documentElement.classList.contains(DARK_THEME)
          ? LIGHT_THEME
          : DARK_THEME,
      ),
    );
</script>
